<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class = "container" style="position:absolute; z-index:10; left:4.5%;opacity:0.8;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size:15px; display:flex; justify-content:center; align-items:center;">Endangered Species</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-right: 30px !important;">
              <a class="nav-link active" style="font-size:15px;" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item" style="margin-right: 30px !important;">
              <a  style="font-size:15px;" class="nav-link" href="/newRoom" >
                Create Room
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="margin-right: 30px !important;font-size:15px;"  th:href="@{/your-rooms}">Your Rooms</a>

            </li>



          </ul>
          <form class="d-flex" th:action = "@{/search}" method = "POST">
            <input class="form-control me-2" th:name = "keyword" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div th:each = "searchResult : ${searchResults}" id = "search-results">
            <a th:href = "@{'/room?roomId='+${searchResult.id}}"><span class="result" th:text = "${searchResult.roomName}"></span></a>
            <span> - </span>
            <span class="name" th:text = "${searchResult.roomCreator}"></span>
          </div>
        </div>
      </div>
    </nav>
  </div>
        
  <div class = "container" >
  <h1 style = "margin-top:100px;">Your Rooms:</h1>
  <table style = "margin-top:50px;"class = "table table-hover active table-responsive ">
    <thead>
    <tr>
    <th>Name</th>
    <th>Animal</th>
    <th>Money raised</th>
    
    </tr>
    </thead>	
    <tbody>
    	<tr th:each="room: ${list}">

    	<td > <a th:text= "${room.roomName}" th:href="@{'/room?roomId='+${room.id}}">  </a></td>

    	<td th:text= "${room.animal}"></td>
    	<td th:text= "${room.money}"></td>
    	<td><a type="button" th:href="@{'/delete-room?roomName='+${room.roomName}}" class = "btn btn-warning">Delete</a></td>
    	<td><a type="button" th:href="@{'/edit-room?roomName='+${room.roomName}}" class = "btn btn-warning"   > Edit</a></td>

    	
    	</tr>
    	
    </tbody>
    
    </table>
    
   
	<a href = "/home" ><button style = " border: 1px solid red; margin-top:30px; background-color:red;margin-bottom:50px;"type="button" class="btn btn-info btn-lg ">Back to Main Page</button></a>
	
  <!-- Modal -->
  





  </body>

</html>